{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'rest_mode/components/header.html' %}
    </head>
    <body>
        {% include 'rest_mode/components/splash_screen.html' %}
        <div class="container" data-theme-color="pastel" data-theme-dark="false" data-theme-layout="messenger-layout">
            <button id="settingsToggleButton" class="settings-btn">
                <img src="{% static 'rest_mode/svg/settings.svg' %}" alt="Settings">
            </button>
            {% include 'rest_mode/components/chat_sidebar.html' %}
            {% include 'rest_mode/components/main_chat_pane.html' %}
            {% include 'rest_mode/components/settings_sidebar.html' %}
        </div>
        <!-- Scripts (ES Modules) -->
        <script type="module" src="{% static 'rest_mode/js/base.js' %}"></script>
        <script type="module" src="{% static 'rest_mode/js/chatLogic.js' %}"></script>
        <script type="module" src="{% static 'rest_mode/js/toast.js' %}"></script>
        <script type="module" src="{% static 'rest_mode/js/main.js' %}"></script>    </body>
</html>
