{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'rest_mode/components/header.html' %}
</head>
<body>
    <!-- Top Bar -->
    {% include 'rest_mode/components/top_bar.html' %}

    <!-- Main Layout -->
    <div class="container" data-theme-color="pastel" data-theme-dark="false" data-theme-layout="messenger-layout">
        <!-- Left Sidebar -->
        <div class="chat-history-pane" id="chatHistoryPane">
            {% include 'rest_mode/components/chat_sidebar.html' %}
        </div>
        
        <!-- Resizer Divider for Left Sidebar -->
        <div class="vertical-divider" id="divider-left"></div>

        <!-- Main Content -->
        <div class="main-pane">
            {% include 'rest_mode/components/main_chat_pane.html' %}
        </div>
        
        <!-- Resizer Divider for Right Sidebar -->
        <div class="vertical-divider" id="divider-right"></div>

        <!-- Right Sidebar -->
        <div class="options-pane" id="optionsPane">
            {% include 'rest_mode/components/settings_sidebar.html' %}
        </div>
    </div>

    <!-- Scripts -->
    <script type="module" src="{% static 'contrib/markedjs/marked.min.js' %}"></script> <!-- credit to https://cdn.jsdelivr.net/npm/marked/marked.min.js -->
    <script type="module" src="{% static 'rest_mode/js/base.js' %}"></script>
    <script type="module" src="{% static 'rest_mode/js/toast.js' %}"></script>
    <script type="module" src="{% static 'rest_mode/js/main.js' %}"></script>
    <script type="module" src="{% static 'rest_mode/js/chatLogic.js' %}" defer></script>
</body>
</html>
