{% load static %}
<div class="side-panes options-pane" id="optionsPane">
    <button class="sidebar-hide-btn" id="optionsSidebarHideBtn">
        <img src="{% static 'rest_mode/svg/arrow_right.svg' %}" alt="Hide Settings Pane">
    </button>
    <div class="settings-container">
        <h2>⚙️ Settings</h2>
        <div class="toggle-container">
            <div class="toggle-section theme-toggle" data-theme="light">
                <div class="toggle-title" data-icon="☀️">
                    Dark/Light Mode
                </div>
                <div class="toggle-content">
                    <input type="checkbox" id="darkModeToggle">
                    <label for="darkModeToggle">Enable Dark Mode</label>
                </div>
            </div>
            <div class="theme-dropdown theme-toggle">
                <label for="colorSelect">🎨 Colour Theme:</label>
                <select id="colorSelect">
                    <option value="pastel">Pastel</option>
                    <option value="tropical">Tropical</option>
                    <option value="corporate">Corporate</option>
                </select>
            </div>
            <div class="theme-dropdown theme-toggle">
                <label for="layoutSelect">🖥️ Layout Theme:</label>
                <select id="layoutSelect">
                    <option value="messenger-layout">Messenger</option>
                    <option value="mobile-layout">Mobile</option>
                    <option value="minimalist-layout">Minimalist</option>
                </select>
            </div>
        </div>
        <!-- Mobile UI Toggles -->
        <div class="toggle-section" id="mobileUIToggleSection">
            <div class="toggle-title">
                <span>📱 Mobile UI</span>
                <input type="checkbox" id="mobileUIToggle">
            </div>
            <div class="toggle-content">
                <div class="nested-toggle">
                    <label for="alwaysVisibleButtonsToggle">
                        <img src="{% static 'rest_mode/svg/toggle_off.svg' %}" alt="Toggle Off" class="toggle-icon">
                        <img src="{% static 'rest_mode/svg/toggle_on.svg' %}" alt="Toggle On" class="toggle-icon">
                        <input type="checkbox" id="alwaysVisibleButtonsToggle"> Always Visible Buttons
                    </label>
                </div>
                <div class="nested-toggle">
                    <label for="swipeLeftSettingsToggle">
                        <img src="{% static 'rest_mode/svg/toggle_off.svg' %}" alt="Toggle Off" class="toggle-icon">
                        <img src="{% static 'rest_mode/svg/toggle_on.svg' %}" alt="Toggle On" class="toggle-icon">
                        <input type="checkbox" id="swipeLeftSettingsToggle"> Swipe left for Settings
                    </label>
                </div>
                <div class="nested-toggle">
                    <label for="swipeRightChatHistoryToggle">
                        <img src="{% static 'rest_mode/svg/toggle_off.svg' %}" alt="Toggle Off" class="toggle-icon">
                        <img src="{% static 'rest_mode/svg/toggle_on.svg' %}" alt="Toggle On" class="toggle-icon">
                        <input type="checkbox" id="swipeRightChatHistoryToggle"> Swipe right for Chat History
                    </label>
                </div>
                <div class="nested-toggle">
                    <label for="swipeDownControlsToggle">
                        <img src="{% static 'rest_mode/svg/toggle_off.svg' %}" alt="Toggle Off" class="toggle-icon">
                        <img src="{% static 'rest_mode/svg/toggle_on.svg' %}" alt="Toggle On" class="toggle-icon">
                        <input type="checkbox" id="swipeDownControlsToggle"> Swipe down for Controls
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
