{% load static %}
<div class="top-bar">
    <button id="newChatButton" class="top-bar-btn" aria-label="New Chat">
        <img src="{% static 'rest_mode/svg/new_chat.svg' %}" alt="New Chat">
    </button>
    <button id="searchButton" class="top-bar-btn" aria-label="Search">
        <img src="{% static 'rest_mode/svg/search.svg' %}" alt="Search">
    </button>
    <button id="chatHistoryToggleButton" class="top-bar-btn" aria-label="Toggle Chat History">
        <img src="{% static 'rest_mode/svg/chat_history.svg' %}" alt="Chat History">
    </button>
    <button id="settingsToggleButton" class="top-bar-btn" aria-label="Toggle Settings">
        <img src="{% static 'rest_mode/svg/settings.svg' %}" alt="Settings">
    </button>
</div>
